<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <nav>
      <a href="/">Inicio</a>
    </nav>
    <main>
        <h3>esto viene del formulario</h3>
        <p>mensaje: <%= msg %></p>
        <p>clave: <%= pass %></p>
        <p>codificado: <%= cod %></p>
    </main>
  </body>
</html>